:root {
    --grey1: #212529;
    --grey2: #343A40;
    --grey3: #495057;
    --emerald: #06D6A0;
    --lightgrey: #F8F9FA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

nav {
    background-color: aqua;
    position: sticky;
    top: 0;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav button {
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-icon {
    width: 20px;
    height: 1px;
    background-color: black;
    border-radius: 3px;
}
